* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #042F5A, #2B658D, #fff, #2B658D, #042F5A);
}

#container {
  background-color: #fff;
  box-shadow: 0 0 50px #fff;
  margin: 0% 15% 7% 15%;
  font-family: 'EB Garamond', serif;
}

#main {
  background-image: linear-gradient(to right, #111213, #28292A);
}

header {
  color: #fff;
  display: flex;
}

.logo {
  width: 75%;
}

.header-text  {
  padding: 10px 0px 15px 15px;
}

.header-text h1 {
  font-weight: 400;
  font-size: 1.9em;
  text-transform: uppercase;
}

.header-text h1 span{
  color: #636265;
}

.header-text h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 0.95em;
  max-width: 310px;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 25%;
  padding: 15px 10px 0 0;
}

.search input {
  float: right;
  width: 95%;
  height: 20px;
  border-radius: 50px;
  background-image: url('../img/lupa.png');
  background-size: 17px;
  background-position: 5% 45%;
  background-repeat: no-repeat;
  padding-left: 30px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 6px 10px 6px;
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}

.slider {
  position: relative;
}

.img-slide {
  width: 100%;
  height: auto;
}

.lower-header {
  margin-top: -5px;
  width: 100%;
  height: 15%;
  background-color: #111213;
  display: flex;
  align-items: center;
}

.lower-header h3 {
  padding: 10px 10px 12px 15px;
  font-family: Garamond, serif;
  font-weight: 500;
  color: #a3a3a3;
  width: 60%;
}

.lower-header .social-buttons {
  padding-right: 15px;
  width: 40%;
  display: inline-flex;
  justify-content: flex-end;
}

.lower-header .social-buttons a img {
  padding: 2px;
  width: 100%;
  max-width: 50px;
}

section {
  width: 100%;
  background-color: #fff;
  display: flex;
}

#article-container {
  padding: 30px 10px 0 15px;
  width: 70%;
}

 article {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.border {
  margin: 20px 0;
  height: 2px;
  background-color: #e8ebec;
}

.article-img {
  width: 30%;
  margin-right: 10px;
}

.article-img img {
  width: 100%;
  height: auto;
  border: 3px solid #d7dddb;
}

.article-text {
  width: 70%;
}

article h4 {
  font-size: 1.4em;
  font-weight: 300;
}

article span {
  color: #2c83b3;
  font-size: 0.8em;
  font-family: Garamond, serif;
}

article p {
  text-align: justify;
  margin-top: 10px;
  font-size: 0.9em;
}

article input {
  margin-top: 10px;
  color: #faf2f6;
  border: none;
  box-shadow: 0 1px 0 0 #000;
  width: 38%;
  height: 25px;
  border-radius: 3px;
  background: -moz-linear-gradient(top, #7db9e8 0%, #4681a0 100%);
  background: -webkit-linear-gradient(top, #7db9e8 0%, #4681a0 100%);
  background: linear-gradient(to bottom, #7db9e8 0%, #4681a0 100%);
}

article input:hover {
  border: 2px solid #10226e;
  cursor: pointer;
}

aside {
  background-color: #EBEBEB;
  font-size: 0.9em;
  font-weight: lighter;
  font-family: Georgia;
  padding: 30px 10px 20px 15px;
  color: #303030;
  width: 30%;
}

aside a {
  color: #2c83b3;
  text-decoration: none;
}

aside span {
  line-height: 1.4em;
}

aside div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

aside h4 {
  margin-bottom: 25px;
  font-size: 1.5em;
}

aside h5 {
  font-size: 1em;
}

.shop span {
  margin-bottom: 5px;
}

.next-event a {
  margin-top: 25px;
}

.scoreboard h5 {
  margin-bottom: 25px;
}

.scoreboard p {
  line-height: 1.5em;
}

#pages {
  color: #7a7c7e;
  display: flex;
  font-family: Verdana;
  font-size: 0.6rem;
}

#pages ul {
  display: flex;
}

#pages span {
  padding: 10px;
}

#pages span, #pages li {
  background-color: #e8ebec;
  height: 20px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pages ul li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

#pages .current-page {
  background-color: #9ba29f;
  color: #fff;
}

#sponsors {
  margin-top: 25px;
  padding: 0px 15px;
}

#sponsors h2{
  padding: 5px;
  font-size: 1.4em;
  font-weight: 400;
}

.sponsors-img  img{
    width: 100%;
    height: auto;
}

footer {
  margin-top: 20px;
  color: #6f6e6e;
  background-color: #0F0F0F;
}

footer h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

#footer-container {
  width: 100%;
  padding: 15px 20px 20px 20px;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  line-height: 1.5em;
}

.footer-section {
  width: 31%;
}

#about .vision {
  color: #a3a3a3;
}

#contact .name{
  color: #a3a3a3;
}


#flickr .flickr-img {
  margin-top: 10px;
  width: 100%;
}

#flickr .flickr-img img {
  width: 100%;
  height: auto;
}

#contact .social-buttons {
  margin-top: 15px;
  width: 100%;
  display: inline-flex;
}

#contact .social-buttons a img {
  padding: 2px;
  width: 100%;
  max-width: 50px;
}

@media screen and (max-width: 850px) {
  body {
    background-image: linear-gradient(to right, #042F5A, #2B658D, #6CA2C0, #fff, #6CA2C0, #2B658D, #042F5A);
  }
  #container {
    box-shadow: 0 0 20px #fff;
    margin: 0% 5% 7% 5%;
  }
  nav ul li a {
    font-size: 11px;
    font-weight: 600;
  }
  .scoreboard h4 {
    font-size: 1.2em;
  }
  #footer-container {
    font-size: 10px;
    line-height: 1.2em;
  }

}

@media screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(to right, #042F5A, #2B658D, #6CA2C0, #fff, #6CA2C0, #2B658D, #042F5A);
  }
  #container {
    box-shadow: 0 0 20px #fff;
    margin: 0% 1% 1% 1%;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li a {
    font-size: 0.55em;
    font-weight: 600;
  }

  .lower-header {
    margin-top: -5px;
    width: 100%;
    height: 15%;
    background-color: #111213;
    display: flex;
    flex-direction: column;
  }

  .lower-header h3 {
    padding: 10px 10px 12px 15px;
    font-family: Garamond, serif;
    font-weight: 500;
    color: #a3a3a3;
    width: 100%;
  }

  .lower-header .social-buttons {
    padding: 10px 20px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }

  .lower-header .social-buttons a img {
    padding: 2px;
    width: 90%;
    max-width: 40px;
  }

  section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  #article-container {
    padding: 30px 20px 0 15px;
    width: 100%;
  }
  aside {
    background-color: #EBEBEB;
    font-size: 0.9em;
    font-weight: lighter;
    font-family: Georgia;
    padding: 30px 10px 20px 15px;
    color: #303030;
    width: 100%;
  }

  #pages {
    color: #7a7c7e;
    display: flex;
    font-family: Verdana;
    font-size: 0.6rem;
    margin-top: 10px;
  }

  #footer-container {
    width: 100%;
    padding: 15px 20px 20px 20px;
    font-size: 0.9em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 25px;
    width: 100%;
  }

  #flickr .flickr-img {
    margin-top: 10px;
    width:70%;
  }
}

.highlight{
  background-color: yellow;
}
